audio {
    display: $audio-display;
    max-width: $audio-max-width;
    vertical-align: $audio-vertical-align;
    @if mixin-exists(audio-extra-style) {
        @include audio-extra-style();
    }
}

audio:not([controls]) {
    display: none;
    height: 0;
}