$audio-display: inline-block !default;
$audio-max-width: 100% !default;
$audio-vertical-align: baseline !default;
//@mixin audio-extra-style() {} //Create this mixin before import module when you want add some special style for element